.vscode/

*.html
*.css
*.pdf
*.ltx
*.xml
drafts/
secret/*_secret.html.pm
CNAME

### Racket ###
# gitignore template for the Racket language
# website: http://www.racket-lang.org/

# DrRacket autosave files
*.rkt~
*.rkt.bak
\#*.rkt#
\#*.rkt#*#

# Compiled racket bytecode
compiled/
*.zo

# Dependency tracking files
*.dep

### Racket ###
# gitignore template for Pollen

compiled/
pollen-cache/

